<navbar></navbar>

<div class="spotify container">
  <header>
    <form novalidate>
      <input type="text"
        ng-model="searchTerm"
        ng-init="searchTerm=''"
        ng-change="vm.getSpotifyData( searchTerm )"
        ng-model-options="{
          updateOn: 'default blur',
          debounce: {
            default: 700,
            blur: 0
          }
        }"
        placeholder="Enter {{searchTypeSelected}} ..."
        class="search-term-input"
      />

      <!-- Search type dropdown
      * ng-model is a local variable to store currently selected item.
      * Use ng-init to set the initial value.
      * When clicked, callback will be excuted. -->
      <div class="search-type" >
        Search by:
        <select
          ng-model='searchTypeSelected'
          ng-init="searchTypeSelected='artist'"
          ng-change="vm.onSelected( searchTypeSelected )"
          ng-options="option for option in ['artist', 'track']" >
        </select>
      </div>
    </form>

    <!-- Clear search term button
    * Displayed when search key exists.
    * When clicked, callback will be excuted. -->
    <a
      ng-show="searchTerm.length > 6"
      ng-click="searchTerm = ''"
      class="clear-data btn btn-default" >
      Clear search term
    </a>

    <!-- Links to JSON -->
    <a
      href="#section-json"
      ng-show="vm.searchResult.total && vm.searchResult.total > 3"
      class="clear-data btn btn-default" >
      Jump to JSON data
    </a>
  </header>

  <hr>

  <section id="section-1">
    <!-- Loading indicator
    * Displayed only when waiting for the data to be loaded. -->
    <p
      ng-if="vm.loading"
      class="loading">
      <i class="fa fa-spinner fa-spin"></i>
      Loading...
    </p>

    <!-- Display the search result -->

    <!-- <artist searchResult="vm.searchResult"></artist> -->

    <div class="alert alert-info">
      <h4>Search result
        <small>
          <a
            ng-click="searchTerm = '' ; vm.clearData()" >
            Clear data
          </a>
        </small>
      </h4>

      <p>
        Showing {{ vm.searchResult.total || 0 }} of {{ vm.searchResult.total || 0 }} results found
      </p>

      <div ng-repeat="item in vm.searchResult.items">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>
              <a href="item.external_urls[ item.external_urls.length - 1 ].url">
                {{ item.name }}
              </a>
            </h4>
            <p>Popularity: {{ item.popularity }}</p>
            <img
              src="{{ item.images[0] && item.images[0].url }}"
              alt="{{ item.name }}"
            />
          </div>
        </div>
      </div>
    </div>
    <a
      href="#"
      ng-show="vm.searchResult.total && vm.searchResult.total > 6">
      Jump to top
    </a>
  </section>

  <section id="section-json">

    <!-- Display JSON data -->
    <div class="alert alert-warning">
      <h4>Search result in JSON
        <small>
          <a
            ng-click="searchTerm = '' ; vm.clearData()" >
            Clear data
          </a>
          <span ng-show="vm.searchResult.total && vm.searchResult.total > 6">
            | <a href="#">Jump to top</a>
          </span>
        </small>
      </h4>

      <p>
        Showing {{ vm.searchResult.total || 0 }} of {{ vm.searchResult.total || 0 }} results found
      </p>

      <pre>{{ vm.searchResult | json }}</pre>
    </div>

    <a
      href="#"
      ng-show="vm.searchResult.total && vm.searchResult.total > 6">
      Jump to top
    </a>
  </section>
</div>

<app-footer></app-footer>
