.spotify
  form
    display flex
    background-color black
    padding 3%
    min-width 480px
    .search-term-input
      flex-grow 3
      margin 0
      font-size 2rem
    .search-type
      flex-grow 1
      display inline-block
      padding 0 3%
      height 4rem
      line-height 4rem
      color #999
    .clear-data
      display block
      color #999
      padding 0 3%
      height 4rem
      line-height 4rem
  img
    width 64px
    max-width 64px
    height auto
