.spotify
  header
    background-color black
    color #fff
    padding 10px 25px

    form h1
      display block
      margin 0 0 20px 0

    form input
      display inline-block
      width 60%
      margin 0 0 10px 0

    form input
      display inline-block
      width 60%

    form .clear-data
      color #666

    form search-type
      display inline-block
      width 20%
      margin-left 5%
