.spotify
  form
    display flex
    background-color black
    padding 3%
    .search-term-input
      flex-grow 2
      margin 0
      font-size 2rem
    .search-type
      flex-grow 1
      display table-row
      padding 0 3%
      color #999
    .clear-data
      display block
      color #999
      padding 0 3%
  img
    width 64px
    max-width 64px
    height auto
